@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap' rel="stylesheet">
)

html, body {
  height: 100%;
  width: 100%
  font-family: 'Nanum', sans-serif;
  color: #222;
}
.navbar {
  padding; .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
  .nav-link {
  font-size: 1.5em!important
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: black;
  font-family: courier;
  font-size: 100%;
}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</html>